<app-navbar></app-navbar>

<div class="container mt-4">
    <h2 class="text-center">Materiales</h2>
    <div style="max-width: 1200px; margin: auto;">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre</th>
                    <th>ID</th>
                    <th>Unidad</th>
                    <th>Valor en Tec-Colones</th>
                    <th>Estado</th>
                    <th>Fecha de Creación</th>
                    <th>Descripción</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let material of materials" class="table-row">
                    <td>{{ material.nombre }}</td>
                    <td>{{ material.id }}</td>
                    <td>{{ material.unidad }}</td>
                    <td>{{ material.valor_unitario }}</td>
                    <td>{{ material.estado === 1 ? 'Activo' : 'Inactivo' }}</td>
                    <td>{{ material.fecha_creacion }}</td>
                    <td>{{ material.descripcion }}</td>
                </tr>
            </tbody>
        </table>
    </div>