<app-navbar></app-navbar>

<div class="container mt-4">
    <div style="max-width: 600px; margin: auto;">
        <h2 class="text-center">Ingreso de Material</h2>
        <form [formGroup]="ingresoMaterialForm" (ngSubmit)="onSubmit()">
            <div class="form-group mt-2">
                <label for="centroAcopio">Centro de Acopio</label>
                <input type="text" class="form-control" id="centroAcopio" formControlName="centroAcopio"
                    placeholder="Ingrese el centro de acopio">
                <!-- Add validation messages here -->
            </div>
            <div class="form-group mt-2">
                <label for="carnet">Carnet</label>
                <input type="text" class="form-control" id="carnet" formControlName="carnet"
                    placeholder="Ingrese el carnet">
                <!-- Add validation messages here -->
            </div>
            <div class="form-group mt-2">
                <label for="material">Seleccionar material</label>
                <select class="form-control" id="material" formControlName="material">
                    <!-- Add options here -->
                </select>
                <!-- Add validation messages here -->
            </div>
            <div class="form-group mt-2">
                <label for="cantidadMaterial">Cantidad de material</label>
                <input type="number" class="form-control" id="cantidadMaterial" formControlName="cantidadMaterial"
                    placeholder="Ingrese la cantidad de material">
                <!-- Add validation messages here -->
            </div>
            <div class="form-group mt-2">
                <label for="tecColones">Cantidad de Tec-Colónes</label>
                <input type="number" class="form-control" id="tecColones" formControlName="tecColones"
                    placeholder="Ingrese la cantidad de Tec-Colónes">
                <!-- Add validation messages here -->
            </div>
            <button type="submit" class="btn btn-primary center-button mt-4"
                [disabled]="!ingresoMaterialForm.valid">Ingresar</button>
        </form>
    </div>
</div>